<div class="uk-flex uk-flex-middle uk-flex-center">
	<div class="uk-panel uk-width-1-1">
		<h2 class="uk-heading-line">Create thread for {{forum.name}}</h2>

		{{#if errors}}
		{{#each errors}}
		<div class="uk-label uk-label-danger">{{msg}}</div>
		{{/each}}
		{{/if}}

		<form method="post" action="/new_thread" class="uk-form uk-margin-small">
			<div class="uk-margin-small">
				<input class="uk-input" type="text" placeholder="Title" name="title" id="form-title">
			</div>
			<div class="uk-margin-small">
				<textarea class="uk-textarea" placeholder="Content" name="content" id="form-content" uk-height-viewport="expand: true"></textarea>
			</div>
			<input type="hidden" name="forum" id="form-forum" value="{{forum.id}}">
			<div class="uk-margin-small">
				<button type="submit" class="uk-button uk-button-primary">Post</button>
			</div>
		</form>
	</div>
</div>
