<div class="uk-section uk-width-1-1">
	<h1 class="uk-heading-primary">{{title}}</h1>
	<div class="uk-width-1-1 uk-container uk-padding-small@s uk-padding-medium@m uk-padding-top">
		{{> post_loop}}
	</div>
</div>
