<div class="uk-width-1-1 uk-container">
	<a class="uk-card-title" href="/thread?id={{id}}">{{title}}</a>
	<p>Created by {{owner}} {{#if remove_flag}}<a href="/remove_thread?id={{id}}">Remove</a>{{/if}}</p>
</div>
