INDEX

<div class="uk-margin-small uk-width-1-1">
	<div class="uk-inline">
		{{#if req.user}}
		<a class="uk-button uk-button-default" href="/users/logout">Logout</a>
		<a class="uk-button uk-button-primary" href="/new_thread?id={{forum.id}}">New Thread</a>
		{{else}}
		<a class="uk-button uk-button-default" href="/users/login">Login</a>
		<a class="uk-button uk-button-primary" href="/users/register">Register</a>
		{{/if}}
	</div>
</div>

{{> thread_loop}}
