<div class="uk-flex uk-flex-middle uk-flex-center">
	<div class="uk-section uk-width-1-2@m uk-width-1-3@lg">
		<h2 class="uk-heading-line">{{_ "Account Login"}}</h2>
		<form method="post" action="/users/login" class="uk-form uk-margin-small">
			<div class="uk-margin-small">
				<div class="uk-width-1-1 uk-inline">
					<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
					<input class="uk-input" type="text" placeholder="{{_ 'Username'}}" name="username" id="form-username">
				</div>
			</div>
			<div class="uk-margin-small">
				<div class="uk-width-1-1 uk-inline">
					<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
					<input class="uk-input" type="password" placeholder="{{_ 'Password'}}" name="password" id="form-passwd">
				</div>
			</div>
			<button type="submit" class="uk-button uk-button-primary">{{_ "Login"}}<span class="uk-icon" uk-icon="icon: check"></span></button>
		</form>
	</div>
</div>

<div uk-height-viewport="expand: true" id="auto_height_expand"></div>
